<!-- <!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>  
  
    <script src="js/angular.min.js"></script>	
	<script src="js/ng-table.min.js"></script>		 
	<script src="js/angular-route.js"></script>		
	<script src="js/ui-bootstrap-tpls-0.13.4.min.js"></script>		 
    <script src="js/Chart.min.js"></script>
	<script src="js/angular-chart.min.js"></script>	
	<script src="js/app/control.js" ></script>
	<link rel="stylesheet" href="login.css">  
</head>

<body>
  <body id="login">
	<div class="login" ng-controller="loginCtrl"> -->
	<br/>
<br/><br/>
<br/><br/>
<br/>

<div class="col-md-1"></div><div class="col-md-10">
<center><i>This web tool consolidates data from various startup and campaign funding websites and helps derive insights that can drive decisions related to investments on new technology, campaigns, acquisitions. It also provides a quick overview of the emerging technology trends and focus areas for future.</i></center></div>
<br><br>
<body>
	<body id="login">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h2 style="color: white">Login</h2>
			</div>

			<div class="login-form">
				<div class="control-group"><br>
				<input type="text" class="login-field" value="" placeholder="username" ng-model="username" id="login-name" style="background:white;>
				<label class="login-field-icon fui-user" for="login-name"></label>
				<br>
				<!-- <a href="" style="padding: 10px"></a> -->
				<br>
				<input type="password" class="login-field" value="" placeholder="password"  ng-model="password" id="login-pass" style="background:white;padding-top: 10px" >
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<br>			
				<button class="btn btn-primary btn-large btn-block" ng-click="authenticate()">login
				</button>
				
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br><br>
	

	 <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-12">
                        
                        <p align="right">Powered by Latentview&nbsp;</p>
                	
                	</div>
                    
                    
                </div>
            </div>
        </div>
        
    </footer>


</body>
</body>
  
<!--   
</body>
</html>
 -->